$font: "opensans-example", "Arial", sans-serif;

// ————————COLORS———————— //
$black: #000000;
$white: #ffffff;
$color-main: #444444;
$bd-line: 1px solid #ececec;
$black-hover: rgba($black, 0.6);
$black-active: rgba($black, 0.3);
$green: #63d1bb;
$green-form: #62d1ba;
$green-darker: #56c3b2;
$bg-white: #f1f1f1;
// —————————————————————— //

// ————————WIDTHS———————— //
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$padding-mobile: 30px;
$padding-tablet: 50px;
$padding-desktop: 50px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// —————————————————————— //

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1150px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1110px);

$gutter: $grid-gutter-width;