html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @include indent();

    min-width: 320px;
    min-height: 100vh;

    font-family: $font;
    font-size: 17px;
    font-style: normal;
    line-height: 1.4;
    color: $color-main;
    word-wrap: break-word;

    background-color: $white;
}

body > div > svg {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba($white, 0.9);
}

.overlay--show {
    display: block;
}

.help {
    position: absolute;
    top: 27px;
    left: -6px;
    z-index: 5;

    visibility: hidden;
    margin-top: 8px;
    padding: 3px 6px;

    color: $green-form;

    opacity: 0.3;

    transition: all 0.5s;
    pointer-events: none;

    + .icon--phone {
            color: #d18462;
        }
}

.help-show {
    top: 70px;

    visibility: visible;

    opacity: 0.8;

    + .icon--phone {
            color: $green-form;
        }
}

@include media-breakpoint-up(md) {
    .help {
        top: -11px;
        left: 161px;
        font-size: 19px;
    }

    .help-show {
        top: 40px;
    }
}

@include media-breakpoint-up(xl) {
    .help {
        left: 169px;
    }
}