@mixin no-outline {
    outline: none;
    background: transparent;
}

@mixin indent($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}

@mixin list-reset {
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

@mixin content-padding {
    padding-right: $padding-mobile;
    padding-left: $padding-mobile;

    @include media-breakpoint-up(md) {
        padding-right: $padding-tablet;
        padding-left: $padding-tablet;
    }
    @include media-breakpoint-up(xl) {
        padding-right: $padding-desktop;
        padding-left: $padding-desktop;
    }
}

@mixin title($fz-mobile: 25px, $lh-mobile: 30px) {
    margin: 0;

    font-size: $fz-mobile;
    font-weight: bold;
    line-height: $lh-mobile;
    color: $black;
    text-align: left;

    @include media-breakpoint-up(md) {
        font-size: 43px;
        line-height: 50px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 53px;
        line-height: 57px;
    }
}