.btn {
    display: block;
    width: 494px;
    height: 66px;
    padding-top: 7px;
    padding-left: 20px;

    font-family: $fontM;
    font-weight: bold;
    font-size: 34px;
    line-height: 42.6px;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $btn;
    border: none;
    border-radius: 33px;

    cursor: pointer;

    &:hover,
    &:focus {
        color: $white;
        text-decoration: none;

        outline: none;
        background-color: tone($btn, 2, down);
    }

    &:active {
        color: rgba($white, 0.5);

        background-color: tone($btn, 5, down);
    }

    &--header {
    	margin-top: 12px;
    	margin-left: 190px;
    }

    &--main {
    	padding-left: 0;
    }
}

// ≥1537px
@include media-breakpoint-down(xl) {
    .btn {
        width: 392px;
        height: 52px;
        padding-top: 5px;
        padding-left: 15px;

        font-size: 27.22px;
        line-height: 34.11px;

        &--header {
            margin-top: 10px;
            margin-left: 150px;
        }

        &--main {
            padding-left: 0;
        }
    }
}

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥992px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
}

// ≥576px
@include media-breakpoint-down(xs) {
}
