.page-header {
    width: 100%;

    background-image: linear-gradient(to bottom, #f9e9a7, #63c9c4);
}

.page-header__wrap {
    max-width: 1920px;
    min-height: 1080px;
    // margin: 0 auto;

    background-image: url("../img/bg-header2@1x.png");
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-header2@2x.png");
        background-size: 1221px auto;
    }
}

.page-header__logo {
    margin-left: 177px;
}

.page-header__inner {
    max-width: 900px;
    margin-top: 223px;
    margin-left: 190px;

    font-family: $fontM;
}

.page-header__intro {
    @include indent;

    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    color: #44a09b;
}

.page-header__title {
    @include indent;

    margin-top: 28px;

    font-size: 62px;
    font-weight: normal;
    line-height: 84px;
    word-spacing: 5px;

    b {
        word-spacing: 23px;
    }
}

.page-header__info {
    position: relative;

    width: 718px;
    height: 212px;
    margin-top: 53px;

    background-color: $white;

    &::before {
        position: absolute;
        top: 0;
        right: -106px;

        width: 212px;
        height: 100%;

        border-right: 106px solid $white;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;

        content: "";
    }
}

.page-header__date {
    @include indent;

    margin-left: 190px;
    padding-top: 37px;

    font-size: 28px;
    font-weight: 500;
    line-height: 47px;
    color: $btn;
    word-spacing: -1px;
}

.page-header__btn {
    position: relative;

    display: block;
    margin-top: 68px;
    margin-left: 900px;

    color: $white;

    p {
        @include indent;

        font-family: $fontV;
        font-size: 16.2px;
        font-weight: 900;
        line-height: 19.8px;
        text-transform: uppercase;
    }

    &:hover {
        color: tone($btn, 2, down);
        text-decoration: none;
    }

    &:active {
        color: tone($btn, 5, down);
    }
}

.page-header__icon {
    margin-top: 10px;
    margin-left: 32px;
}

// ≥1540px
@include media-breakpoint-down(xl) {
	.page-header__wrap {
	    max-width: 1537px;
	    min-height: 855px;
	    // margin: 0 auto;

	    background-image: url("../img/bg-header1@1x.png");
	    background-repeat: no-repeat;
	    background-position: 101% -7px;

	    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	        background-image: url("../img/bg-header1@2x.png");
	        background-size: 977px auto;
	    }
	}

	.page-header__logo {
	    margin-left: 139px;
	}

	.page-header__inner {
	    max-width: 720px;
	    margin-top: 175px;
	    margin-left: 150px;

	    font-family: $fontM;
	}

	.page-header__intro {
	    font-size: 25.61px;
	}

	.page-header__title {
	    margin-top: 22px;

	    font-size: 49.63px;
	    line-height: 67.24px;
	    word-spacing: 5px;

	    b {
	        word-spacing: 12px;
	    }
	}

	.page-header__info {
	    width: 570px;
	    height: 167px;
	    margin-top: 41px;

	    &::before {
	        right: -83.5px;

	        width: 167px;
	        height: 100%;

	        border-width: 83.5px;
	    }
	}

	.page-header__date {
	    margin-left: 150px;
	    padding-top: 28px;

	    font-size: 22.41px;
	    line-height: 37.42px;
	}

	.page-header__btn {
	    margin-top: 53px;
	    margin-left: 712px;

	    p {
	        font-size: 12.98px;
	        line-height: 15.87px;
	    }
	}

	.page-header__icon {
	    margin-top: 8px;
	    margin-left: 26px;
	}
}

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥992px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
}

// ≥576px
@include media-breakpoint-down(xs) {
}
