.page-footer {
    background-color: $footer;
}

.page-footer__wrap {
	max-width: 1920px;
	margin: 0 auto;
}

.page-footer__title {
	@include indent;
	padding-top: 94px;
	padding-bottom: 58px;
	font-family: $fontM;
	font-size: 55.62px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 5px;
    color: $white;
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {
    
}

// ≥576px
@include media-breakpoint-down(xs) {

}